<header>
    <div class="header-container">
      <div class="logo-title">
        <img src="{{ '/assets/images/logo.jpeg' | relative_url }}" alt="Namaste Wellness Logo" class="logo">
        <h1 class="site-title">Namaste Wellness</h1>
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/about/' | relative_url }}">About</a></li>
          <li><a href="{{ '/products/' | relative_url }}">Products</a></li>
          <li><a href="{{ '/classes/' | relative_url }}">Classes</a></li>
          <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>